.gardien-normal,
.gardien-de-synthese,
.gardien-de-support,
.gardien-a-talent {
  background-color: #202223;
  color: #fff;
}
.gardien .card__figcaption {
  background-color: lightgray;
  color: black;
}

.cle {
  background-color: #f3f1ef;
}
.cle .card__figcaption {
  background-color: whitesmoke;
}
.cle .card__stats,
.card__type {
  display: none;
}

.terrain {
  background-color: #a3a5a4;
}

.terrain .card__figcaption {
  background-color: #d2d6d4;
}
.terrain .card__stats,
.card__type {
  display: none;
}

.piege {
  background-color: #9d3c7a;
}
.piege .card__figcaption {
  background-color: #dda0ba;
}
.piege .card__stats,
.card__type {
  display: none;
}

.magie {
  background-color: #018e78;
}
.magie .card__figcaption {
  background-color: #c2ddd7;
}
.magie .card__stats,
.card__type {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 1rem;
  width: 265px;
}
.card__img {
  border: 5px solid grey;
}
.card__skill,
.card__type {
  font-size: small;
}
.card__class {
  display: flex;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
  font-size: large;
}
.card__figure {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.card__figcaption {
  margin: 0.5rem;
  border: 3px solid #d5a62a;
  background-color: lightgray;
}
.card__stats {
  display: flex;
  border-top: 1px solid black;
  margin: 0.5rem;
  justify-content: space-between;
}
.card__name {
  border-top: 2px solid black;
  border-left: 2px solid black;
  margin: 1rem;
  padding-left: 1rem;
}
.card__stars {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 0;
  overflow: hidden;
  background-image: url("../assets/img/star-black.png");
  background-size: contain;
  background-repeat: repeat-x;
}
header {
  padding-left: 1rem;
}
