.gardien-normal,
.gardien-de-synthese,
.gardien-de-support,
.gardien-a-talent {
  background-color: #202223;
  color: #fff;
}
.gardien .card__figcaption {
  background-color: lightgray;
  color: black;
}

.cle {
  background-color: #f3f1ef;
}
.cle .card__figcaption {
  background-color: whitesmoke;
}
.cle .card__stats,
.card__type {
  display: none;
}

.terrain {
  background-color: #a3a5a4;
}

.terrain .card__figcaption {
  background-color: #d2d6d4;
}
.terrain .card__stats,
.card__type {
  display: none;
}

.piege {
  background-color: #9d3c7a;
}
.piege .card__figcaption {
  background-color: #dda0ba;
}
.piege .card__stats,
.card__type {
  display: none;
}

.magie {
  background-color: #018e78;
}
.magie .card__figcaption {
  background-color: #c2ddd7;
}
.magie .card__stats,
.card__type {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.card__img {
  border: 2px solid grey;
}

.card__figure {
  display: flex;
  flex-direction: column;
}
.card__figcaption {
  border: 3px solid #d5a62a;
  background-color: lightgray;
}
.card__stats {
  border-top: 1px solid black;
  justify-content: space-between;
}
.card__name {
  border-top: 2px solid black;
  border-left: 2px solid black;
}
.card__stars {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 0;
  overflow: hidden;
  background-image: url("../assets/img/star-black.png");
  background-size: contain;
  background-repeat: repeat-x;
}
