.modal-trigger::-webkit-details-marker {
  display: none;
}

.modal-trigger {
  cursor: pointer;
  list-style-type: none;
}

.modal[open] .modal-trigger:before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.75;
}

.modal-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 1rem;
  min-width: 300px;
  min-height: 470px;
  max-height: 80%;
  overflow: auto;
}

.modal-window::after {
  content: "close";
  color: wheat;
  pointer-events: none;
  position: absolute;
  right: -2rem;
  top: 1.5rem;
  width: 2rem;
  text-align: center;
  border-radius: 0 50% 50% 0;
}

.modal[open] .modal-window .card {
  flex-grow: 1;
  width: 100%;
  height: 100%;
}
