@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Sansita-Regular";
    src: url("assets/fonts/Sansita-Regular.ttf") format("truetype");
  }
}

@layer utilities {
  .perspective-xl {
    perspective: 1000px;
  }
}

.App > :last-child {
  position: sticky;
  bottom: 0;
}
